.wrapper {
    /* background-color: saddlebrown; */
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    /* justify-content: center;
    display: flex; */
}

.top_placeholder {
    min-height: 100vh;
    width: 100%;
}

.abs_left_new,
.abs_right_new {
    position: absolute;
}

.right {
    text-align: right;
    right: 0;
}

svg {
    overflow: visible;
}